DingYaoERPService/ERPServiceTest/Web References/LZWZIP/LZWZIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetZipCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetZipCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetZipCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetZipCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetZipCode" />
  </wsdl:message>
  <wsdl:message name="GetZipCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetZipCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="LZWZIPSoap">
    <wsdl:operation name="GetZipCode">
      <wsdl:input message="tns:GetZipCodeSoapIn" />
      <wsdl:output message="tns:GetZipCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LZWZIPSoap" type="tns:LZWZIPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetZipCode">
      <soap:operation soapAction="http://tempuri.org/GetZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LZWZIPSoap12" type="tns:LZWZIPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetZipCode">
      <soap12:operation soapAction="http://tempuri.org/GetZipCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LZWZIP">
    <wsdl:port name="LZWZIPSoap" binding="tns:LZWZIPSoap">
      <soap:address location="http://demo.anytech.com.tw/AnytechWS/LZWZIP.asmx" />
    </wsdl:port>
    <wsdl:port name="LZWZIPSoap12" binding="tns:LZWZIPSoap12">
      <soap12:address location="http://demo.anytech.com.tw/AnytechWS/LZWZIP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>